.add-files-btn {
  float: right;
}

:host {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.actions {
  justify-content: flex-end;
}

.container {
  height: 100%;
}

.remove-upload {
  font-size: 80%;
  padding-left: 2em;
}

.error-message {
  font-weight: bold;
  color: red;
}
