<!--
<h1 mat-dialog-title>Add location</h1>
<form [formGroup]="formGroup" (ngSubmit)="submit(formGroup)">
  <mat-dialog-content>
    <p>
      Lorem ipsum dolor sit amet
    </p>
    <div>
      <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />
    </div>
    <mat-form-field>
      <div>
        <input matInput type="text" formControlName="title" placeholder="Enter title">
      </div>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">Add</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
-->
<input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <div *ngIf="existingMarker == null">
    <h1 mat-dialog-title>Add location</h1>
  </div>
  <div *ngIf="existingMarker != null">
    <h1 mat-dialog-title>Edit location</h1>
  </div>

  <div>
    <button [disabled]="uploading || uploadSuccessful" mat-raised-button color="primary" class="add-files-btn" (click)="addFiles()">
      Add Files
    </button>
  </div>

  <!--<form [formGroup]="formGroup" (ngSubmit)="submit(formGroup)">-->
    <!-- This is the content of the dialog, containing a list of the files to upload -->
    <mat-dialog-content>
      <p>
        Lorem ipsum dolor sit amet
      </p>
      <div>
        <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />
      </div>
      <mat-form-field>
        <div>
          <input matInput type="text" placeholder="Enter title" [(ngModel)]="title">
        </div>
      </mat-form-field>
      <mat-form-field>
        <div>
          <input matInput type="text" placeholder="Enter link (optional)" [(ngModel)]="link">
          <a href="{{link}}">open</a>
        </div>
      </mat-form-field>
      <mat-list>
        <mat-list-item *ngFor="let file of files">
          <h4 mat-line>{{file.name}}</h4>
          <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async"></mat-progress-bar>
        </mat-list-item>
      </mat-list>
    </mat-dialog-content>

    <div *ngIf="existingUploads != null && existingUploads.length > 0">
      <p>Existing files</p>
      <div *ngFor="let upload of existingUploads">
        <a href="{{getDownloadLink(upload)}}">{{upload.fileName}}</a>
        <span class="remove-upload">
          <a href="#" (click)="removeUpload(upload.id)">remove</a>
        </span>
      </div>
    </div>

    <!-- This are the actions of the dialog, containing the primary and the cancel button-->
    <mat-dialog-actions class="actions">
      <button *ngIf="existingUploads != null" mat-button (click)="deleteMarker()">Delete</button>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" [disabled]="!canBeClosed" (click)="closeDialog()">{{primaryButtonText}}</button>
    </mat-dialog-actions>
  <!--</form>-->
</div>
